.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.card {
  height: 175px;
  width: 175px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  cursor: pointer;
}
