.cards {
  display: grid;
  grid-template-columns: repeat(8, 175px);
}

@media (max-width: 1500px) {
  .cards {
    grid-template-columns: repeat(6, 175px);
  }
}

@media (max-width: 1100px) {
  .cards {
    grid-template-columns: repeat(4, 175px);
  }
}

@media (max-width: 800px) {
  .cards {
    grid-template-columns: repeat(3, 175px);
  }
}

.card {
  height: 180px;
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.1);
}
